@charset "utf-8";
/* CSS Document */
.logo {
	width: 100px;
	height: 100px;
	background-image: url("./logo.png");
	padding-left: 100px;
	margin-left: auto;
	margin-right: auto;
	background-repeat: no-repeat;
}

.desktop {
	width: 2000px;
	height: 1600px;
	background-color: #000000;
}


.header {
	width: auto;
	height: auto;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	color: #FFFFFF;
	border-bottom-style: solid;
	border-top-style: solid;
	border-color: #00D4FF;
	padding: 5px;
	display: block;
}


a {
	text-decoration: none;
	color: #fff;
	margin-left: 220px;
}


a:hover {
	color: #00D4FF;
	text-decoration: underline;
}

.images {
	background-image: url("jordan2.jpg");
	width: 2000px;
	height: 1200px;
	float: left;
	margin-left: 20px;
}


.text {
	color: #FFFFFF;
	width: 400px;
	margin-left: 100px;
	margin-top: 100px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	
}

.footer {
	width: auto;
	height: auto;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 25px;
	color: #FFFFFF;
	display: block;
}

a.contact {
	color: #DF383B;
	
}


.content {
	background-image: url();
	
}
